.weather-forecast {
  margin-top: 20px;
}

.weather-forecast__title {
  font-weight: 400;
}

.weather-forecast__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  .weather-forecast__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 100px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
    height: 200px;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

@media(max-width: 425px) {
  .weather-forecast__list {
    .weather-forecast__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 0 1 100%;
      margin-bottom: 15px;
      margin-right: 0;
      padding: 15px;
      height: auto;
      background: rgba(0, 0, 0, 0.25);
      border: 1px solid transparent;
      border-radius: 5px;
      box-sizing: border-box;
      p {
        font-size: 1.8em;
      }
    }
  }
}
