.weather-forecast {
  margin-top: 20px;
}

.weather-forecast__title {
  font-weight: 400;
}

.weather-forecast__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  .weather-forecast__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 100px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
  }
}
