html,
body,
#root,
#root > div {
  height: 100%;
  color: #fff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.App {
  background: rgb(84,111,210);
  padding: 15px;
  box-sizing: border-box;
}
