html,
body,
#root,
#root > div {
  height: 100%;
  color: #fff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.App {
  background: rgb(50, 145, 186);
  padding: 10px;
}
